<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UnitTestProject_ruPost.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <UnitTestProject_ruPost.Properties.Settings>
            <setting name="UnitTestProject_ruPost_ruPost_ItemDataService"
                serializeAs="String">
                <value>http://vfc.russianpost.ru:8080/FederalClient/ItemDataService</value>
            </setting>
        </UnitTestProject_ruPost.Properties.Settings>
    </applicationSettings>
</configuration>